body {
    background-image: url("https://cutewallpaper.org/21/plain-pink-backgrounds/Pink-Plain-Light-Color-Background-Wallpaper-Wallpapers-Master.jpg");
    background-size: cover;
}
.image4 {
    margin: 0%;
    position: 100%;
}

.first-txt {
    position: absolute;
    top: 0px;
    left: 10px;
}

* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 3px;
}
img{
float:left;
width:100px;
height:350px;
object-fit: cover;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}

p.small{
    line-height: 1.3;
}
h1 {text-align: center;}
.about {
    float:left;
}
p {text-align: center;}
h2 {text-align: left;}
