body
    {
	    background-image: url("https://www.unicef.org/sites/default/files/styles/hero_desktop/public/UNI112437.jpg?itok=qV_CLouD");
	    background-repeat: no-repeats ;
	    position: relative;
        background-size: cover;
    }

#header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: transparent;
    }

.logo
    {
        font-size: 35px;           
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: crimson;
        float: left;
        padding-left: 20px;
        padding-top: 10px;
    }    