body
    {
	    background-image: url("https://www.unicef.org/sites/default/files/styles/hero_desktop/public/UNI112437.jpg?itok=qV_CLouD");
	    background-repeat: no-repeats ;
	    position: relative;
        background-size: cover;
    }

#header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: transparent;
    }

.logo
    {
        font-size: 35px;           
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: crimson;
        float: left;
        padding-left: 20px;
        padding-top: 10px;
    }

.menu 
    {
        float: right;
        width: auto;
        height: auto;
    } 

ul
    {
        display: inline-block;
        justify-content: center;
        align-items: center;
    } 

ul li
    {
        display: inline; 
        padding: 3px 6px;
    }   

li 
    {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        background-color: inherit;
        padding: 10px 20px;
        font-weight: bold;
        color: #000;
    }