* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}


body {
    
    justify-content: center;
    min-height: 100vh;
    background: #000000;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
}

.logo {
    font-size: 50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 2px black;
    color:crimson;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
img{
    height: 80%;
    width: 100%;
}

.menu {
    float: right;
    width: auto;
    height: auto;
}

ul {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

ul li {
    display: inline;
    padding: 3px 6px;
}

li a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

li a:hover {
    text-decoration: underline;
    margin: 10px;
    border-radius: 10px;
    background-color: DeepSkyBlue;
    color: rgb(183, 0, 255);
}

.active,
li:hover {
    text-decoration: underline;
    background-color: DeepSkyBlue;
}

.contain {
    
        position: relative;
        display: inline-flex;
        /* justify-content: center; */
        justify-content: space-around;
        align-items: center;
        /* width: 1200px; */
        flex-wrap: wrap;
        margin-left: 32px;
        margin-top: 60px;
        background: linear-gradient(transparent, #49adffee);
 
}

.contain .card {
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: #1b1b1b;
   
}

.contain .card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #17e78c;
    border-right: 20px solid #17e78c;
}

.contain .card .active::before {
    border-top: 20px solid #ff3b7e;
    border-right: 20px solid #ff3b7e;
}

.contain .card .icon {
    margin-bottom: 10px;
}

.contain .card .icon img {
    max-width: 90px;
}

.contain .card .content {
    position: relative;
    height: 215px;
    overflow: hidden;
}

.contain .card.active .content {
    height: auto;
}

.contain .card .content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100px;
    background: linear-gradient(transparent, #222020);
}

.contain .card.active .content::before {
    display: none;
}

.contain .card .content h3 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contain .card .content p {
    font-weight: 300;
    color: #ccc;
}

.contain .card .more {
    position: relative;
    padding: 10px 15px;
    background: #17e78c;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #383838;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.contain .card.active .more {
    background: #ff3b7e;
    color: #fff;
}

.contain .card .more::before {
    content: 'Read more';
}

.contain .card.active .more::before {
    content: 'Read Less';
}
footer {
    text-align: center;
    padding: 30px;
    background-color: transparent;
    background: linear-gradient(to top,rgb(51, 51, 51,0.8)50%,rgba(51,51,51,0.8)50%);
}
